page-feed {

  ion-content{
  background-color: color($colors, black, base)!important;

  }

	.social-cards ion-col {
    padding: 0;
  }

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-img{
    height: 25rem;
  }
}
